.content {
    width: 80%;
    margin: 0 10%;
}
.btnback{
    padding: 8px 18px;
    border-radius: 15px;
    display: inline-block;
    margin: 0 auto 15px auto;
    text-decoration:none;
    color: #545454;
}
.btnback:hover{
    color: #000;
}
/* ========== HEADER ========== */
header{
    width: 100%;
    border-bottom:  3px double #999;
    padding: 25px;
}
header .logo{
    width: 15%;
    margin: 0 0 0 10%;
    float: left;
}
header .logo img{
    width: 100%;
}

header .banner{
    width: auto;
    float: right;
    margin: 0 10% 0 0;
}
header .banner p{
    text-align: right;
    margin: 15px 15px 0 0;
    float: left;
}
header .banner .btn{
    float: left;
    margin-top: 12px;
    background: #ccc;
    text-shadow: none;
    font-weight: 600;
    color: #fff;
}
header .banner .btn:hover{
    background: #999;
}

/* ========= FOOTER ========== */
footer{
    width:100%;
    border-top:  3px double #ccc;
    padding: 15px 0;
}
footer p{
    text-align: center;
    color: #333;
    text-shadow: 1px 1px 1px #999;
}

/* ========== HOME ========== */
.home {
    padding: 60px 0;
}
.home .box{
    padding: 25px;
    background: #efefef;
    border: 1px solid #666;
    border-radius: 15px;
}
.home .box img{
    width:60%;
    margin: 0 20% 15px 20%;
}
.home .box a{
     text-shadow: 1px 1px 1px #ccc;
     font-weight: 600;
     font-size: 1.2em;
     text-decoration: none;
}
.home .box a:hover{ color: #333 !important; }
.home .box a.green{ color: green; }
.home .box a.blue{ color: blue;}
.home .box a.red{ color: red;}

/* ========= CREATE ========= */
nav{
    width: 100%;
    padding: 10px 10%;
    background: #ccc;
    border-bottom: 3px double #999;
}
nav ul li{
    list-style: none;
    display: inline-block;
    width: 49.5%;
    text-align: center;
}
nav ul li a{
    width: 100%;
    text-decoration: none;
    font-weight: 600;
    color: #FFF;
    text-shadow: 1px 1px 1px #999;
    font-size: 1.3em;
}
nav ul li a:hover{ color: #333; }

/* --- create --- */
.create_content{
    width: 100%;
    padding: 40px 0;
}
.create_content h1{
    color: green;
    font-weight: 600;
    font-size: 1.8em;
    border-bottom: 1px solid #ccc;
    padding: 0 0 8px 20px;
}
.create_content form{
    width: 90%;
    margin: 20px 5%;
}
.create_content label{
    width: 100%;
    display: block;
    padding: 10px 0;
}
.create_content .legend{
    width: 100%;
    padding: 5px 8px;
    color: #2F4F4F;
    font-size: 1.3em;
    display: block;
}
.create_content .legend i{
    font-size: 0.85em;
}
.create_content form input{
    width: 100%;
    font-size: 1.1em;
    padding: 5px 10px;
}
.create_content form select{
    width: 100%;
    font-size: 1.1em;
    background: #fff;
    padding: 5px;
}
.create_content form .btn{
    font-size: 1.3em;
    color: #fff;
    background: #29a329;
    float: right;
}
.create_content form .btn:hover{
    background: #1f7a1f;
}

.create_maps{
    background: rgba(0,0,0,0.05);
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
}
.create_maps h1{
    display: block;
    padding: 0;
    font-size: 1.25em;
    text-align: center;
    text-shadow: 1px 1px 1px #999;
    color: #000;
}
.create_maps p{
    display: block;
    margin: 10px 0;
}
.create_maps .btn{
    font-weight: 600;
    margin: 8px 0;
    color: #fff;
}
.create_maps .btn:hover{
    background: #666 !important;
}
.create_maps .btn.btn_edit{
    background: rgba(0, 0, 255, 0.6);
}
.create_maps .btn.btn_del{
    background: rgba(255, 0, 0, 0.6);
}

/* ======== DRAW ========= */
.draw_content{
    width: 100%;
    padding: 40px 0;
}
.draw_content h1{
    color: green;
    font-weight: 600;
    font-size: 1.8em;
    border-bottom: 1px solid #ccc;
    padding: 0 0 8px 20px;
}

/* ------------ home ------------- */
.draw_content  .draw_maps .view{
    width: 25%;
    padding: 5px 15px;
    display: inline-block;
    background: #eee;
    border-bottom: 1px solid #ddd;
    margin: 5px 0;
}
.draw_content  .draw_maps .view.t50{
    width: 49%;
}
.draw_content  .draw_maps .view a{
    color: red;
    text-decoration: none;
}
.draw_content  .draw_maps .view a:hover{
    text-decoration: underline;
}

/* ------------ MAP ------------------ */
.mapedit{
    position: absolute;
    left: 0; bottom: 0; right: 0; top: 0;
    background-color: #FFFFFF;
}

/* --------- menu --------- */
.mapedit .top{
    position: absolute;
    top: 0; right: 0; left: 3em;
    z-index: 3;
    background: rgba(255,255,255,0.8);
    padding: 10px;
}
.mapedit .top .title{
    width: 20%;
    display: inline-block;
    text-align:center;
    color: green;
    font-size: 1.2em;
    font-weight: 600;
}
.mapedit .top .layersFixed{
    width: 70%;
    display: inline-block;
}
.mapedit .top .layersFixed ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 15px 10px 15px;
    font-size: 1.1em;
}
.mapedit .top .maislayers{
    width: 9%;
    display: inline-block;
}
.mapedit .top .maislayers p{
    padding: 5px;
    text-align: right;
    font-size: 1.5em;
    font-weight: 600;
    color: red;
    text-shadow: 1px 1px 1px #666;
    cursor: pointer;
    transition: 0.5s;
}
.mapedit .top .maislayers p:hover{
    color: #333;
    transition: 0.5s;
    margin-right: 10px;
}

.top .layersFloat {
    width: 100%;
    padding: 10px 40px;
    background: #fff;
    display: none;
}
.top .layersFloat .box{
    border-left: 2px solid #ccc;
    padding-left: 25px;
}
.top .layersFloat .box li{
    list-style: none;
    width: 50%;
    float: left;
}
.top .layersFloat .box p{
    margin-left: 30px;
}
.top .layersFloat .box select{
    width: 85%;
    background: #fff;
    margin:10px 10% 15px 5%;
    padding: 7px;
}
.top .layersFloat .btn{
    color: blue;
    float: left;
}
.top .layersFloat .btn:hover{
    color: #000;
}
.top .layersFloat button.btn{
    color: #000;
    float: left;
}
.top .layersFloat button.btn:hover{
    background: #999;
}


.mapedit img{
    position: absolute;
    bottom: 20px; right: 20px;
    z-index: 1;
}

/* ------ botões de ações (lado esquerdo) ----- */
.mapedit .functionsType{
    position: absolute;
    width: 2.54em;
    bottom:250px;
    left:5px;
    background: rgba(255,255,255,0.4);
    border-radius: 3px;
    padding: 0px 3px 2px 3px;
    z-index: 2;
}
.mapedit .functionsType .btn{
    position: relative;
    display: block;
    background:rgba(0,60,136,.5);
    margin-bottom: 1px;
    cursor: pointer;
    padding: 1px 2px 2px 2px;
    font-size: 2em;
    border-radius: 2px;
    color: #FFF;
}
.mapedit .recarregamento{
    position: absolute;
    width: 2.54em;
    bottom:75px;
    left:5px;
    background: rgba(255,255,255,0.4);
    border-radius: 3px;
    padding: 3px 3px 2px 3px;
    z-index: 2;
}
.mapedit .recarregamento .btn{
    position: relative;
    display: block;
    background:rgba(0,60,136,.5);
    margin-bottom: 1px;
    cursor: pointer;
    padding: 1px 2px 2px 2px;
    font-size: 2em;
    border-radius: 2px;
    color: #FFF;
}
.mapedit .functionsType .btn:hover, .functionsType .btn.active, .recarregamento .btn:hover{
    background: rgba(0,60,136,.7);
}

.mapedit .toobar {
    position: absolute;
    width: auto;
    bottom: 10px;
    left:20%;
    background: rgba(255,255,255,0.4);
    border-radius: 2px;
    padding: 3px;
    display:none;
    z-index: 2;
}
.mapedit .toobar p{
    display: inline-block;
    background: rgba(0,128,0,0.5);
    padding: 8px 15px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-family: Arial;
}
.mapedit .toobar p:hover, .toobar p.activeOptions{
    background: rgba(0,128,0,0.7);
}

/* ----------- points ---------- */
.mapedit .toobar form{
    display: inline-block;
    float: left;
    margin-right: 30px;
}
.mapedit .toobar form input{
    border: 1px solid #999;
    padding: 4px;
    font-size:0.9em;
    margin-top:-5px !important;
}
.mapedit .toobar form button.localizar{
    background: #999;
    padding: 0 4px;
    font-size: 1.2em;
    margin-top:0px;
    cursor: pointer;
}
.mapedit .toobar form button.localizar:hover{
    background: #666;
}


.mapedit a.btnbackMap{
    position: absolute;
    z-index: 3;
    bottom: 15px;
    right: 90px;
    text-decoration:none;
    color: #636363;
}
.mapedit a.btnbackMap:hover{
    color: #333;
}

/* ---------- formulario para inserção de dados ---------- */
.mapedit .draw_form{
    position: absolute;
    right: 0;
    width: 30%;
    top: 14%;
    z-index: 2;
    background: rgba(255,255,255,0.8);
    padding: 20px;
    max-height:70%;
    overflow: auto;
    display: none;
}
.mapedit .draw_form form, .draw_form form label{
    width: 100%;
}
.mapedit .draw_form form .legend{
    width: 100%;
    display: block;
    font-weight: 600;
    font-size: 1.1em;
}
.mapedit .draw_form form input{
    width: 100%;
    padding: 5px;
    margin:5px 0 15px 0;
}
.mapedit .draw_form .btn{
    background: #29a329;
    color: #fff;
    font-weight: 600;
    float: right;
    margin-right: 30px;
}
.mapedit .draw_form .btn:hover{
    background: #1f7a1f;
}
.mapedit .draw_form .btn.btnblue{
    background: #1a1aff;
}
.mapedit .draw_form .btn.btnblue:hover{
    background: #0000b3;
}

/* ------------- EDIÇÃO DO ESTILO DOS MAPAS -----------*/
.editStyle{
    position: absolute;
    width: 30%;
    top: 30%;
    left: 35%;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    z-index: 4;
    border: 4px solid #999;
    display: none;
}
.editStyle label{
    display: block;
    width: 100%;
    margin:10px 0;
    color: #fff;
}
.editStyle .btn{
    background: #29a329;
    color: #fff;
    font-weight: 600;
    margin-top: 15px;
}
.editStyle .btn:hover{
    background: #1f7a1f;
}

/* ------------- Troca de camadas da layer -----------*/
.selectCamadas{
    position: absolute;
    width: 30%;
    top: 30%;
    left: 35%;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    z-index: 4;
    border: 4px solid #999;
    color: #fff;
    font-weight: 600;
    display: none;
}
.selectCamadas input{
    margin: 10px 3px 10px 20px;
    color: #fff;
}
.selectCamadas a{
    margin: 10px 3px 10px 20px;
    cursor: pointer;
}
.selectCamadas a:hover{
     color: #ccc;
     text-decoration: underline;
}
.selectCamadas .btn{
    background: #29a329;
    color: #fff;
    font-weight: 600;
    margin-top: 15px;
}
.selectCamadas .btn:hover{
    background: #1f7a1f;
}

/* ======== EXCLUSÃO ========= */
.del_colaborador .btn{ background: #e60000; color: #fff; padding: 3px 10px;}
.del_colaborador .btn:hover{ background: #cc0000;}