* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

.clear {
	clear: both;
}

#mapa {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom:0;
}

/* AÇÕES */
#actions {
	position: absolute;
	width: 2.54em;
	bottom:100px;
	left:10px;
	background: rgba(255,255,255,0.4);
	border-radius: 3px;
	padding: 0px 3px 2px 3px;
}
#actions .btn{
	position: relative;
	display: block;
	background:rgba(0,60,136,.5);
	margin-bottom: 1px;
	cursor: pointer;
	padding: 1px 2px 2px 2px;
	font-size: 2em;
	border-radius: 2px;
	color: #FFF;
}
#actions .btn:hover, #actions .btn.active{
	background: rgba(0,60,136,.7);
}

/* MENU */
#layers{
	position: absolute;
	width: 20%;
	z-index:2;
	background-color: rgba(255,255,255,0.7);
	padding: 15px 18px;
	font-size: 1.1em;
	right:0;
	top: 0;
	bottom: 0;
	border-left: 5px solid #ccc;
}

#layers > ul{
	list-style: none;
}

#layers h1{
	text-align:left;
	font-weight:600;
	margin: 10px auto 5px auto;
	font-size: 1.3em;
	text-shadow: 1px 1px 1px #666;
	color: #3366FF;
}

#layers ul li input{
	margin-right: 7px;
}

#layers img{
	width: 80%;
	margin: 10px 10%;
}

/* Opções das Açoẽs */
.toobar {
	position: absolute;
	width: auto;
	bottom: 10px;
	left:25%;
	background: rgba(255,255,255,0.4);
	border-radius: 2px;
	padding: 3px;
	display:none;
}
.toobar p{
	display: inline-block;
	background: rgba(0,128,0,0.5);
	padding: 8px 15px;
	text-transform: uppercase;
	cursor: pointer;
	color: #fff;
	font-weight: 600;
	font-family: Arial;
}
.toobar p:hover, .toobar p.activeOptions{
	background: rgba(0,128,0,0.7);
}

/* points */
.toobar form{
	display: inline-block;
	float: left;
	margin-right: 40px;
}
.toobar form input{
	border: 1px solid #999;
	padding: 7px;
	font-size:0.9em;
	margin-top:-5px !important;
}
.toobar form button.localizar{
	background: #999;
	padding: 5px;
	font-size: 1.1em;
	margin-top:2px;
	cursor: pointer;
}
.toobar form button.localizar:hover{
	background: #666;
}

